.all{
    font-family: 'Poppins', sans-serif;    
    margin: 0;
    padding: 0;
    background-color: #ffe4c4;
}

.division{
 display: flex;   
}

.colunas1{   
   width: 50%;
}

.colunas1 .imagem{
    height: 100vh;
}

.formClass{
    height: 100vh;
    width: auto;
    position: relative;
}

.formDiv{
    top: 15%;
    position: absolute;
    height: 700px;
    width: 700px;
    background-color: #EAEAEA;
    border-radius: 25px;
}

.formDiv .text{
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
}

.formDiv .texth2{
    margin-top: 0;
    margin-left: 20px;
    font-size: 16px;  
    font-weight: 600;
}

.formDiv .ajudamSpan{
    color: #129495;
}

.nomes{
   width: fit-content;
   margin: 30px auto;
   text-align: center;
   display: flex;
   gap: 5rem;
}

.radio{
    margin: 0 auto;
    text-align: center;
}

.radio h1{
    margin: 0  0 20px 40px;
    width: fit-content;
    font-size: 24px;    
}

.radio .checkboxes{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: baseline;
}

.radio .escolhas{
    margin-left: 20px;
}

.radio .outraInput{
    background-color: #F9FAFB;
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}



/*Excerto feito com a ajuda e explicação de https://codepen.io/t_afif/pen/zYpLpGX*/
input[type=radio] {
    --s: 1em; 
    --c: #129495;
    
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background: radial-gradient(farthest-side,var(--c) 94%,#0000) 50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
  }
  input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }
/*Excerto feito com a ajuda e explicação de https://codepen.io/t_afif/pen/zYpLpGX*/


.nomes .text{
    width: fit-content;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.nomes .nomeInput{
    background-color: #F9FAFB;
    border: 0;
    width: 250px;
    height: 30px;
    border-radius: 10px !important;
    padding-left: 10px;
}

.nomes .emailInput{
    background-color: #F9FAFB;
    border: 0;
    width: 250px;
    height: 30px;
    border-radius: 10px !important;
    padding-left: 10px;
}

.pagamento h1{
    margin: 30px  0 20px 40px;
    width: fit-content;
    font-size: 24px;    
}

.tipos {
    column-gap: 15px;
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.items{
    display: flex;
    align-items: center;
}

.items:hover{
    cursor: pointer;
}

.items.selected {
    border-color: #129495;
}

.items.selected .like {
    animation: spin 2s 30ms forwards;
}

.items.selected{
    animation: colorFill 500ms 10ms forwards;   
}

.items.selected svg{
    animation: checked 500ms 1300ms forwards;
}

@keyframes colorFill{
    to{
       background-color: #129495; 
    }
}

@keyframes spin{
    80%{
        border: 2px solid transparent;
        border-left: 2px solid black;
    }
    100%{
        transform: rotate(1080deg);
        border: 1px solid #084444;
        background-color: #084444;
    }
}

@keyframes checked{
    to{
      fill:  #ffffff;
    }
}

svg{
    align-self: center;
    fill: transparent;
    transform: 0.4s;
}


.tipos .items{
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
    background-color: hsla(180, 78%, 33%, 0.5);
    color: white;
}

.items h1{
  display: flex;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;  
}

.like{
 margin-left: 15px;
 border-radius: 100px;
 width: 20px;  
 height: 20px; 
 border: 1.5px solid hsl(180, 79%, 15%, 0.5);
}

.companhia{
    width: fit-content;
    margin: 30px auto;
}

.companhia input{
    background-color: #F9FAFB;
    border: 0;
    width: 600px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}


.notification{
    display: flex;
}

.notification input{
    margin: 0 5px 0 40px;
    align-self:center;
}

.notification h1{
    align-self: center;
    margin: 0;
    font-size: 16px;
}


/*botão feito com a ajuda de Sumeet Yada*/
.buttonFinal{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: hsl(180, 79%, 15%, 1);
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

.check-box svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #129495;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

.submitButton{
    width: fit-content;
    margin: 20px auto;

}
/*botão feito com a ajuda de Sumeet Yada*/



