.all{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe4c4;
}

.division{
 display: flex;
}

.colunas1{
   width: 45%;
}

.colunas1 .imagem{
    height: 100vh;
}

.formClass{
    height: 100vh;
    width: auto;
    position: relative;
}

.formDiv{
    top: 10%;
    position: absolute;
    height: 600px;
    width: 700px;
    background-color: #EAEAEA;
    border-radius: 25px;
}

.formDiv .text{
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
}

.formDiv .texth2{
    margin-top: 0;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}

.formDiv .ajudamSpan{
    color: #129495;
}

.nomes{
   width: fit-content;
   margin: 30px auto;
   text-align: center;
   display: flex;
   gap: 5rem;
}

.radio{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 5rem;
    align-items: flex-end;
}


.radio .QSubTitle{
    font-size: 16px;
    font-weight: 600;
}

.radio .quantidadeDoacao{
    background-color: #F9FAFB;
    border: 0;
    width: 250px;
    height: 30px;
    border-radius: 10px !important;
    padding-left: 10px;
}

.radio_input .verificarDoacao{
    border-radius: 25px;
    width: 250px;
    height: auto;
    background: #129495;
}

.verificarDoacao:hover{
    cursor: pointer;
}

.verificarDiv{
    display: flex;
    align-items: center;
    margin: 0 auto;
}




.nomes .text{
    width: fit-content;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.nomes .nomeInput{
    background-color: #F9FAFB;
    border: 0;
    width: 250px;
    height: 30px;
    border-radius: 10px !important;
    padding-left: 10px;
}

.nomes .emailInput{
    background-color: #F9FAFB;
    border: 0;
    width: 250px;
    height: 30px;
    border-radius: 10px !important;
    padding-left: 10px;
}


.verificarDoacao{
    display: flex;
    align-items: center;
}

.verificarDoacao p{
    color: white;
    width: fit-content;
    margin: 0;
    padding: 5px 15px 5px 15px;
}

.verificarDoacao.selected {
    border-color: #046060;
}

.verificarDoacao.selected .like {
    animation: spin 2s 30ms forwards;
}

.verificarDoacao.error .like {
    animation: spinError 2s 30ms forwards;
}

.verificarDoacao.selected{
    animation: colorFill 500ms 10ms forwards;
}

.verificarDoacao.error{
    transition: ease-in-out 500ms;
    background: rgb(255, 0, 0);
}

.verificarDoacao.selected svg{
    animation: checked 500ms 1300ms forwards;
}

.verificarDoacao.error img{
    transition: ease-in-out 500ms;
    visibility: visible;
}



@keyframes colorFill{
    to{
       background-color: #129495;
    }
}

@keyframes spin{
    80%{
        border: 2px solid transparent;
        border-left: 2px solid black;
    }
    100%{
        transform: rotate(1080deg);
        border: 1px solid #129495;
        background-color: #01494a;
    }
}

@keyframes checked{
    to{
      fill:  #ffffff;
    }
}



@keyframes spinError{
    80%{
        border: 2px solid transparent;
        border-left: 2px solid black;
    }
    100%{
        transform: rotate(1080deg);
        border: 1px solid rgb(166, 2, 2);
        background-color: #580202;
    }
}

svg{
    width: fit-content;
    align-self: center;
    fill: transparent;
    transform: 0.4s;
    margin: 0 auto;
}

.errorImg{
    text-align: center;
    position: absolute;
    visibility: hidden;
    transform: 0.4s;
    margin: 0 auto;
    left: 22%;
}



.options{
    width: fit-content;
    margin: 40px auto;
    display: flex;
    gap: 5rem;
}

.items{
    align-self: center;
    display: flex;
}

.items p{
    margin: 0 10px 0 0;
}


.like{
 border-radius: 100px;
 width: 20px;
 height: 20px;
 border: 1.5px solid hsl(180, 79%, 15%, 0.5);
 display: flex;
 align-items: center;
 position: relative;
}

.companhia{
    width: fit-content;
    margin: 30px auto;
}

.companhia input{
    background-color: #F9FAFB;
    border: 0;
    width: 600px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}


.notification{
    display: flex;
}

.notification input{
    margin: 0 5px 0 40px;
    align-self:center;
}

.notification h1{
    align-self: center;
    margin: 0;
    font-size: 16px;
}


/*botão feito com a ajuda de Sumeet Yada*/
.buttonFinal{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: hsl(180, 79%, 15%, 1);
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

.check-box svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #129495;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

.submitButton{
    width: fit-content;
    margin: 45px auto;

}
/*botão feito com a ajuda de Sumeet Yada*/



