body{
    background-image: url(../img/sky.png);
    font-family: 'Montserrat', sans-serif;
}

.containerAll{
    width: fit-content;
}

.ajustes{
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 20%;
}

.form-divided{
    background-color: #0C6A6A;
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    width: 850px;
    display: flex;
}

.part1{
    background-image: url(../img/wheelchair-girl.png);
    background-size: cover;
    height: 500px;
    width: 400px;
}

.oped{
    width: fit-content;
    margin: 20px auto 0 auto;
}
.oped h1{
    color: #29B5B6;
    font-weight: bold;
    font-size: 50px;
}

.oped span{
    font-weight: normal;
    color: aliceblue;
}

.part2{
    background-color: #FAF8F8;
    height: 500px;
    width: 450px;
}

.inputs{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.mail{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.bubble{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: start;
}

.inputs input{
    background-color: unset;
    width: 300px;
    border: 0;
    padding-left: 5px;
}

.mail input{
    background-color: unset;
    width: 300px;
    border: 0;
    padding-left: 5px;
}



.inputs img{
    width: 32px;
    height: auto;
    padding-right: 15px;
}

.mail img{
    width: 32px;
    height: auto;
    padding-right: 15px;
}

.bubble img{
    width: 32px;
    height: auto;
    padding-right: 15px;
}

.bubble textarea{
    background-color: unset;
    width: 300px;
    border-radius: 5px;
    border: 0;
    resize: none;
    height: 150px;
    padding-left: 5px;
}



.botao{
    width: fit-content;
    margin: 0 auto;
}

.botao button{
    background-color: #0C6A6A;
    border-radius: 25px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 250px;
    height: 40px;
}

.botao button:hover{
    cursor: pointer;
}
