#navbarAll{
    margin: 0 auto;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(185, 185, 185, 0.2) !important;
    backdrop-filter: blur(5px) !important;
}


.logo{
    width: 64px;
    height: auto;
    
}

#links{
    margin: 0 auto;
}

#navbarCompleta{
    margin: 0 auto;
    justify-content: center;
}

#pesquisa{
    margin-right: 10px;
}