#navbarAll{
    margin: 0 auto;
    width: 100%;
    background-color: #F1F1F1 !important;
    backdrop-filter: blur(5px) !important;
}


.logo{
    width: 75px;
    height: auto;

}

#links{
    margin: 0 auto;
}

#navbarCompleta{
    margin: 0 auto;
    justify-content: center;
    padding-right: 10%;
}

.container-fluid{
    padding-left: 10%;
}

#pesquisa{
    margin-right: 10px;
}
