*:focus {
    outline: none;
}

body{
    background-image: url(../img/sky.png);
    font-family: montserrat;
}

.containerAll{
    width: fit-content;
    margin: 100px auto;
}

.form-divided{
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    width: 850px;
    display: flex;
    position: relative;
}

.part1{
    background-image: url(../img/wheelchair-girl.png);
    background-size: cover;
    height: 500px;
    width: 400px;
}

.oped{
    width: fit-content;
    margin: 20px auto 0 auto;
}
.oped .opening{
    color: #29B5B6;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -2px;
}

.oped .span{
    font-weight: 600;
    color: rgb(26, 26, 26);
    letter-spacing: -2px;
}

.part2{
    background-color: #e9e9e9;
    height: 500px;
    width: 450px;
}

.formClass
{
 background-color: #e9e9e9;
}

.inputs{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.mail{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.bubble{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: start;
}

.inputs .nome{
    background-color: #f9fafb;
    border-radius: 10px;
    width: 300px;
    border: 0;
    padding: 20px 10px 20px 30px;
    height: 30px;
}

.mail .email{
    background-color: #f9fafb;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    border: 0;
    padding: 20px 10px 20px 30px;
}



.inputs .imagem1{
    margin-left: 5px;
    position: absolute;
    width: 32px;
    height: auto;
    padding: 0 15px 5px 0;
}

.mail .imagem2{
    margin-left: 5px;
    position: absolute;
    width: 32px;
    height: auto;
    padding: 3px 15px 5px 0;
}

.bubble .imagem3{
    margin-left: 5px;
    position: absolute;
    width: 32px;
    height: auto;
    padding: 8px 15px 5px 0;
}

.bubble .mensagem{
    background-color: #f9fafb;
    border-radius: 10px;
    width: 300px;
    border-radius: 5px;
    border: 0;
    resize: none;
    height: 150px;
    padding: 5px 10px 5px 30px;
}


.botao{
    width: fit-content;
    margin: 0 auto;
}

.botao .mainbutton{
    background-color: #0C6A6A;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    height: 40px;

}

.botao .mainbutton:hover{
    cursor: pointer;
}

