* {
    font-family: poppins;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    background-color: #EAEAEA;
    overflow-x: hidden;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: #031C1D;
}


.button-sec {
    width: fit-content;
    font-size: 20px;
    color: white;
    background-color: #031C1D;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    border: 0;
    transition: all 0.2s ease;
}

.button-sec:hover {
    cursor: pointer;
    background-color: #0c5557;
}

.button-white {
    width: fit-content;
    font-size: 20px;
    color: #031C1D;
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    border: 0;
    transition: all 0.2s ease;
}

.button-white:hover {
    cursor: pointer;
    background-color: #d2d2d2;
}

.hero-section {
    width: 100vw;
    height: 650px;
    background-image: url('../img/hero-index.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.hero-section .content {
    width: 1200px;
    height: fit-content;
}

.hero-section .content h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 75px;
    color: #031C1D;
}

.hero-section .content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #031C1D;
    margin-block: 30px;
}

.container {
    margin: auto;
    margin-top: -100px;
    max-width: 1200px;
    height: fit-content;
}

.linha1 {
    display: flex;
    flex-direction: row;
    height: 300px;
    gap: 25px;
    margin-bottom: 25px;
}

.box1 {
    padding: 30px;
    background-color: white;
    width: 65%;
    height: fill;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box2 {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    height: fill;
    border-radius: 20px;
}

.ultimas-doacoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.doacao {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #EAEAEA;
    border-radius: 10px;
    height: fit-content;
}

.doacao h3 {
    color: #15B7B9;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 4px;
}

.doacao p {
    color: #031C1D;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
}

.doacao img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 100px;
}

.linha2 {
    display: flex;
    flex-direction: row;
    height: 300px;
    gap: 25px;
    margin-bottom: 25px;
}

.linha2 .box1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.linha2 .box1 .content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linha2 .box1 .boxes {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linha2 .box1 .boxes .box {
    display: flex;
    background-color: #EAEAEA;
    border-radius: 10px;
    padding: 12px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.linha2 .box1 .boxes .box p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.linha2 .box1 .boxes .box img {
    width: 30px;
    height: 30px;
}

.linha3 {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.linha3 .box1 {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-image: url('../img/mapa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
}

.linha3 .box1 img {
    width: 426px;
}

.linha3 .box1 .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linha3 .box1 .content p {
    width: 500px;
}

.linha4 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-bottom: 50px;
    gap: 25px;
}

.linha4 .evento {
    background-color: white;
    width: 33%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.linha4 .evento img {
    border-radius: 20px 20px 0px 0px;
    height: 150px;
    object-fit: cover;
}

.linha4 .evento .content {
    padding: 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.linha4 .evento .content h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.linha4 .evento .content .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
    gap: 10px;
}

.linha4 .evento .content .boxes .box {
    align-items: center;
    text-align: center;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: fill;
}

.linha4 .evento .content .boxes .box .meio {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.linha4 .evento .content .button-sec {
    font-size: 20px;
    color: white;
    background-color: #031C1D;
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
    border: 0;
    transition: all 0.2s ease;
    width: 100%;
}

