body{
    background: #E3E3E3;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    height: fit-content;
    table-layout: fixed;
    overflow: hidden;
    border-radius: 0 0 25px 25px;
  }
  .tabelaTop{
    background-color: rgba(5, 138, 140, 0.5);
   }
  .tabela-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    background-color: rgb(131, 212, 213, 0.5);

  }
  input{
    background: none;
  }
  .nome.changing{
    background: rgb(220, 220, 220);
    padding: 5px 15px;
    width: 170px;
    border-radius: 10px;
  }
  .actionbtn{
    margin-bottom: 20px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(131, 212, 213);
    position: relative;
  }
    .disabled{
    background-color: rgb(139, 139, 139);
    cursor: not-allowed;
  }

  .actionbtn i{
    left: 25%;
    top: 25%;
    text-align: center;
    position: absolute;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
  }
  td{
    padding: 15px 20px;
    text-align: left;
    vertical-align:middle;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    border-bottom: solid 1px rgba(255, 255, 255, 0.374);
  }


  section{
    margin: 50px;
  }

  ::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
